################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Mk.Chain.Api/obj
/MVC/obj/Debug/netcoreapp2.2
/MVC/obj/Release/netcoreapp2.2
/MVC/obj
/src/1.UI/Met.Core.Admin/obj
/src/2.Application/Met.Core.IServices/bin
/src/2.Application/Met.Core.IServices/obj
/src/2.Application/Met.Core.Services/bin/Release/netcoreapp2.2
/src/2.Application/Met.Core.Services/obj
/src/3.Repository/Met.Core.IRepository/bin
/src/3.Repository/Met.Core.IRepository/obj
/src/3.Repository/Met.Core.Repository.SqlServer/bin/Release/netcoreapp2.2
/src/3.Repository/Met.Core.Repository.SqlServer/obj
/src/4.Entity/Met.Core.Models/bin
/src/4.Entity/Met.Core.Models/obj
/src/4.Entity/Met.Core.ViewModel/bin
/src/4.Entity/Met.Core.ViewModel/obj
/src/5.Infrastructure/Met.Core.FrameWork/bin/Debug/netcoreapp2.2
/src/5.Infrastructure/Met.Core.FrameWork/obj
/src/5.Infrastructure/Met.Core.Util/bin
/src/5.Infrastructure/Met.Core.Util/obj
/.vs/Mk.Chain.Core/v16
/Admin/bin/Debug/netcoreapp2.2
/Admin/obj
/Mk.Chain.Api/bin/Debug/netcoreapp2.2
/MVC/bin/Debug/netcoreapp2.2
/src/1.UI/Met.Core.Admin/bin/Debug/netcoreapp2.2
/.vs/Mk.Chain.Core/DesignTimeBuild
/.vs/Mk.Chain.Core/v15/Server/sqlite3
/.vs/Mk.Chain.Core/v15
